* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
}
img {
    cursor: pointer;
}
html, body {
    height: 100%;
    width: 100%;
}
.header {
    width: 100%;
}
.headerTop {
    display: flex;
    align-items: center;
    height: 130px;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}
.language {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.select {
    width: 85px;
    border-right:1px solid #ccc;
    text-align: center;
}
.select select {
    border: none;
    padding: 0 5px;
    cursor: pointer;
}
.select select option {
    padding: 10px 20px !important;
}
.money {
    font-size: 12px;
    padding: 0 20px;
    cursor: text;
}
.logo {
    cursor: pointer;
}
.slogin {
   display: flex;
   font-size: 12px;
   align-items: center;
}
/* 鼠标移入变色 */
.login:hover {
    color: orange;
}
.register:hover {
    color: orange;
}
.sicon:hover {
    color: orange;
}
.select select:hover {
    color: orange;
}
.select select:hover option{
    color: #000;
}
/* 右侧登录注册部分 */
.login, .register {
    border-right: 1px solid #ccc;
    padding:5px 20px;
    cursor: pointer;
}
.register {
    margin-right: 15px;
}
.sicon .icon-shoucang{
    font-size: 20px;
    cursor: pointer;
}
/* 导航部分 */
.nav {
    height: 50px;
    background-color: #000;
    color: #ffb81c;
    padding: 0 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* 清除浮动 */
.clearfix {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
/* 最外层导航栏 */
.faUl {
    height: 50px;
    width: 890px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav .faUl .lists{
    width: 1902px;
    height: 100%;
    float: left;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
/* 鼠标移入变色 */
.nav .faUl .lists:hover .navTips{
    color: #fff;
}
.nav .faUl .lists:hover{
    color: #fff;
}
/* 隐藏二级导航 */
.nav .faUl .lists .underUl {
    display: none;
}
.navTips {
    color: #ffb81c;
}
/* hover二级菜单出现效果 */
.nav .faUl .lists .underUl {
    width: 1903px;
    height: auto;
    /* background-color: blue; */
    color: #000;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background-color: #fff;
}
.underTop {
    width: 450px;
    margin-left: 350px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.underBottom {
    display: flex;
    font-size: 14px;
    color:#666;
    padding-bottom: 30px;
}
.listUl1 {
    width: 500px;
    padding: 0 20px 20px;
    margin-left: 330px;
}
.listUl2 {
    width: 600px;
    margin-left: -100px;
}
/* underUl下拉列表 */
.listUl1 p, .listUl2 p {
    width: 200px;
    float: left;
    text-align: start;
}
.listUl1 p:hover {
    color: #000;
    text-decoration-line: underline;
}
.listUl2 p:hover {
    color: #000;
    text-decoration-line: underline;
}
.nav .faUl .lists:hover .underUl{
    display: block;
}
/* 设置三角形效果 */
.nav .faUl .lists:hover .sanjiao{
    display: block;
}
.aBox {
    height: 100%;
    width: 100%;
    position: relative;
}
.sanjiao {
    width: 15px;
    height: 15px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    bottom:-12px;
    left:42%;
    display: none;
}
/* 右侧搜索 */
.search {
    color: #ffb81c;
}
.sSearch {
    padding: 0 10px;
    cursor: pointer;
}
/* 导航菜单 */
/* 页面主体部分 */
.main {
    width: 1200px;
    margin: 0 auto;
    min-height: 900px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    min-height: 980px;
    display: flex;
    flex-direction: column;
}


/* 底部 */
.footer {
    height: auto;
    background-color: #ffb81c;
    padding-top: 60px;
}
.fContainer {
    width: 1200px;
    margin: 0 auto;
}
.footerLinks {
    width: 100%;
    height: 279px;
    display: flex;
    justify-content: space-between;
}
.linkLeft {
    width: 325px;
}
#leftList {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#leftList li:hover {
    text-decoration-line: underline;
}
.linkCenter {
    width: 550px;
    margin-left: -200px;
}
.linkRight {
    width: 100px;
}
.footerListLi {
    width: 150px;
    padding: 10px 5px;
    font-size: 14px;
    color: #000 !important;
    cursor: pointer;
}
.centerTitle {
    text-align: center;
}
.footerLogo {
    width: 100%;
    height: 240px;
    background: url(../img/footer-logo.png) no-repeat center center;
    position: relative;
    font-size: 14px;
}
.footerLogo i {
    font-size: 30px;
}
#weibo {
    position: absolute;
    top: 107px;
    left: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.weiboHover {
    display: none;
    position: absolute;
    top: -40px;
    left: -130px;
}
#weibo:hover .weiboHover {
    display: block;
}
#weibo:hover span{
    text-decoration-line: underline;
}
#weixin {
    position: absolute;
    top: 107px;
    right: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.weixinHover {
    display: none;
    position: absolute;
    top:-40px;
    left: -130px;
}
#weixin:hover .weixinHover{
    display: block;
}
#weixin:hover span{
    text-decoration: underline;
}
.appUl {
    margin-top: 26px;
    font-size: 14px;
    position: relative;
}
.appUl li {
    padding: 10px 0;
    color: #000 !important;
    cursor: pointer;
}
.shangchengHover, .yishuHover{
    display: none;
    position: absolute;
    left: -135px;
    top: -40px;
}
.tryHover {
    display: none;
    position: absolute;
    left: -135px;
    top: 0px;
}
.yishuHover {
    display: none;
    position: absolute;
    left: -135px;
    top: 40px;
}
.appUl li:hover {
    text-decoration: underline;
}
.appLi1:hover + .shangchengHover {
    display: block;
}
.appLi2:hover + .tryHover {
    display: block;
}
.appLi3:hover + .yishuHover {
    display: block;
}
#banquan {
    width: 100%;
    height: 120px;
    margin-top: 40px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
#banquan li {
    margin-right: 30px;
    color: #000 !important;
    cursor: pointer;
}
#banquan li:first-child {
    display: flex;
    align-items: center;
}
.icon-guohui {
    color: red;
}
#banquan li:hover {
    text-decoration: underline;
}
.fImg {
    height: 50px;
}
.fImg img {
    height: 50px;
}
.footerTips {
    padding: 40px 0;
    color: #939374;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toTop {
    position: fixed;
    left: 220px;
    bottom: 20px;
}
/* top */
.topCon {
    width: 100%;
    height: 405px;
    padding: 0 42px 0 44px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/top-bg.jpg') no-repeat;
    background-size: 100% 100%;

}
#vid {
    width: 534px;
    height: 328px;
    outline: none;
    background-color: #000;
}
.shnap {
    height: 370px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 62px 0px rgba(134, 33, 0, 0.5);
    margin: 34px auto 0;
    background-color: #78010c;
    padding: 40px;
}